
#pics, #favorites {
    display: flex;           
    flex-wrap: nowrap;       
    gap: 10px;               
    overflow-x: auto;        
    padding: 10px;
    border: 2px solid #ccc;  
}


#favorites {
    min-height: 120px;       
}


.mandela {
    width: 100px;
    height: 100px;
    object-fit: cover;       
    cursor: pointer;
}
